<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>58722360649-m1m0mj6g6v7hjiqgo2sfkogjmc4umld2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58722360649-m1m0mj6g6v7hjiqgo2sfkogjmc4umld2</string>
	<key>API_KEY</key>
	<string>AIzaSyBfb_fkXyZa3DdFwW-5r88kKKFb6-Bq21E</string>
	<key>GCM_SENDER_ID</key>
	<string>58722360649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.xaviercastro.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-d75e4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-d75e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58722360649:ios:cf49ae602805ea79</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-d75e4.firebaseio.com</string>
</dict>
</plist>